[submodule "LunaCore/ThirdParty/spdlog"]
	path = LunaCore/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LunaCore/ThirdParty/DirectX12"]
	path = LunaCore/ThirdParty/DirectX12
	url = https://github.com/microsoft/DirectX-Headers
[submodule "LunaCore/ThirdParty/glm"]
	path = LunaCore/ThirdParty/glm
	url = https://github.com/icaven/glm.git
